div > p {
    color: darkgreen; 
    font-weight: bold; 
    border: 1px solid darkgreen; 
    padding: 10px; 
    margin: 10px 0; 
}

.parent > p {
    color: darkblue; 
    font-weight: bold; 
    border: 1px solid darkblue; 
    padding: 10px; 
    margin: 10px 0; 
}